/*
 * Isilon SDK
 * Isilon SDK - Language bindings for the OneFS API
 *
 * OpenAPI spec version: 5
 * Contact: sdk@isilon.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AuthAccess;
import io.swagger.client.model.AuthCacheItem;
import io.swagger.client.model.AuthGroup;
import io.swagger.client.model.AuthGroupCreateParams;
import io.swagger.client.model.AuthGroups;
import io.swagger.client.model.AuthGroupsExtended;
import io.swagger.client.model.AuthId;
import io.swagger.client.model.AuthLdapTemplates;
import io.swagger.client.model.AuthLdapTemplatesExtended;
import io.swagger.client.model.AuthLogLevel;
import io.swagger.client.model.AuthLogLevelExtended;
import io.swagger.client.model.AuthNetgroups;
import io.swagger.client.model.AuthPrivileges;
import io.swagger.client.model.AuthRole;
import io.swagger.client.model.AuthRoleCreateParams;
import io.swagger.client.model.AuthRoles;
import io.swagger.client.model.AuthRolesExtended;
import io.swagger.client.model.AuthShells;
import io.swagger.client.model.AuthUser;
import io.swagger.client.model.AuthUserCreateParams;
import io.swagger.client.model.AuthUsers;
import io.swagger.client.model.AuthUsersExtended;
import io.swagger.client.model.AuthWellknowns;
import io.swagger.client.model.CreateAuthRefreshItemResponse;
import io.swagger.client.model.CreateResponse;
import io.swagger.client.model.Empty;
import io.swagger.client.model.Error;
import io.swagger.client.model.MappingDump;
import io.swagger.client.model.MappingIdentities;
import io.swagger.client.model.MappingIdentityCreateParams;
import io.swagger.client.model.MappingImport;
import io.swagger.client.model.MappingUsersLookup;
import io.swagger.client.model.MappingUsersRules;
import io.swagger.client.model.MappingUsersRulesExtended;
import io.swagger.client.model.ProvidersAds;
import io.swagger.client.model.ProvidersAdsExtended;
import io.swagger.client.model.ProvidersAdsIdParams;
import io.swagger.client.model.ProvidersAdsItem;
import io.swagger.client.model.ProvidersFile;
import io.swagger.client.model.ProvidersFileIdParams;
import io.swagger.client.model.ProvidersFileItem;
import io.swagger.client.model.ProvidersKrb5;
import io.swagger.client.model.ProvidersKrb5Extended;
import io.swagger.client.model.ProvidersKrb5IdParams;
import io.swagger.client.model.ProvidersKrb5Item;
import io.swagger.client.model.ProvidersLdap;
import io.swagger.client.model.ProvidersLdapIdParams;
import io.swagger.client.model.ProvidersLdapItem;
import io.swagger.client.model.ProvidersLocal;
import io.swagger.client.model.ProvidersLocalIdParams;
import io.swagger.client.model.ProvidersNis;
import io.swagger.client.model.ProvidersNisExtended;
import io.swagger.client.model.ProvidersNisIdParams;
import io.swagger.client.model.ProvidersNisItem;
import io.swagger.client.model.ProvidersSummary;
import io.swagger.client.model.SettingsAcls;
import io.swagger.client.model.SettingsAclsExtended;
import io.swagger.client.model.SettingsGlobal;
import io.swagger.client.model.SettingsGlobalGlobalSettings;
import io.swagger.client.model.SettingsKrb5Defaults;
import io.swagger.client.model.SettingsKrb5DefaultsKrb5Settings;
import io.swagger.client.model.SettingsKrb5Domain;
import io.swagger.client.model.SettingsKrb5DomainCreateParams;
import io.swagger.client.model.SettingsKrb5Domains;
import io.swagger.client.model.SettingsKrb5Realm;
import io.swagger.client.model.SettingsKrb5RealmCreateParams;
import io.swagger.client.model.SettingsKrb5Realms;
import io.swagger.client.model.SettingsMapping;
import io.swagger.client.model.SettingsMappingMappingSettings;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AuthApi {
    private ApiClient apiClient;

    public AuthApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AuthApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createAuthCacheItem
     * @param authCacheItem  (required)
     * @param zone Specifies access zone from which to flush objects. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createAuthCacheItemCall(AuthCacheItem authCacheItem, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = authCacheItem;

        // create path and map variables
        String localVarPath = "/platform/4/auth/cache";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createAuthCacheItemValidateBeforeCall(AuthCacheItem authCacheItem, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authCacheItem' is set
        if (authCacheItem == null) {
            throw new ApiException("Missing the required parameter 'authCacheItem' when calling createAuthCacheItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createAuthCacheItemCall(authCacheItem, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Flush the Security Objects Cache.
     * @param authCacheItem  (required)
     * @param zone Specifies access zone from which to flush objects. (optional)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createAuthCacheItem(AuthCacheItem authCacheItem, String zone) throws ApiException {
        ApiResponse<CreateResponse> resp = createAuthCacheItemWithHttpInfo(authCacheItem, zone);
        return resp.getData();
    }

    /**
     * 
     * Flush the Security Objects Cache.
     * @param authCacheItem  (required)
     * @param zone Specifies access zone from which to flush objects. (optional)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createAuthCacheItemWithHttpInfo(AuthCacheItem authCacheItem, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createAuthCacheItemValidateBeforeCall(authCacheItem, zone, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Flush the Security Objects Cache.
     * @param authCacheItem  (required)
     * @param zone Specifies access zone from which to flush objects. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAuthCacheItemAsync(AuthCacheItem authCacheItem, String zone, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createAuthCacheItemValidateBeforeCall(authCacheItem, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createAuthGroup
     * @param authGroup  (required)
     * @param force Skip validation checks when creating a group. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createAuthGroupCall(AuthGroupCreateParams authGroup, Boolean force, String zone, String provider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = authGroup;

        // create path and map variables
        String localVarPath = "/platform/1/auth/groups";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (force != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force", force));
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));
        if (provider != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("provider", provider));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createAuthGroupValidateBeforeCall(AuthGroupCreateParams authGroup, Boolean force, String zone, String provider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authGroup' is set
        if (authGroup == null) {
            throw new ApiException("Missing the required parameter 'authGroup' when calling createAuthGroup(Async)");
        }
        

        com.squareup.okhttp.Call call = createAuthGroupCall(authGroup, force, zone, provider, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new group.
     * @param authGroup  (required)
     * @param force Skip validation checks when creating a group. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createAuthGroup(AuthGroupCreateParams authGroup, Boolean force, String zone, String provider) throws ApiException {
        ApiResponse<CreateResponse> resp = createAuthGroupWithHttpInfo(authGroup, force, zone, provider);
        return resp.getData();
    }

    /**
     * 
     * Create a new group.
     * @param authGroup  (required)
     * @param force Skip validation checks when creating a group. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createAuthGroupWithHttpInfo(AuthGroupCreateParams authGroup, Boolean force, String zone, String provider) throws ApiException {
        com.squareup.okhttp.Call call = createAuthGroupValidateBeforeCall(authGroup, force, zone, provider, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new group.
     * @param authGroup  (required)
     * @param force Skip validation checks when creating a group. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAuthGroupAsync(AuthGroupCreateParams authGroup, Boolean force, String zone, String provider, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createAuthGroupValidateBeforeCall(authGroup, force, zone, provider, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createAuthRefreshItem
     * @param authRefreshItem  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createAuthRefreshItemCall(Empty authRefreshItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = authRefreshItem;

        // create path and map variables
        String localVarPath = "/platform/3/auth/refresh";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createAuthRefreshItemValidateBeforeCall(Empty authRefreshItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authRefreshItem' is set
        if (authRefreshItem == null) {
            throw new ApiException("Missing the required parameter 'authRefreshItem' when calling createAuthRefreshItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createAuthRefreshItemCall(authRefreshItem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Refresh the authentication service configuration.
     * @param authRefreshItem  (required)
     * @return CreateAuthRefreshItemResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateAuthRefreshItemResponse createAuthRefreshItem(Empty authRefreshItem) throws ApiException {
        ApiResponse<CreateAuthRefreshItemResponse> resp = createAuthRefreshItemWithHttpInfo(authRefreshItem);
        return resp.getData();
    }

    /**
     * 
     * Refresh the authentication service configuration.
     * @param authRefreshItem  (required)
     * @return ApiResponse&lt;CreateAuthRefreshItemResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateAuthRefreshItemResponse> createAuthRefreshItemWithHttpInfo(Empty authRefreshItem) throws ApiException {
        com.squareup.okhttp.Call call = createAuthRefreshItemValidateBeforeCall(authRefreshItem, null, null);
        Type localVarReturnType = new TypeToken<CreateAuthRefreshItemResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Refresh the authentication service configuration.
     * @param authRefreshItem  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAuthRefreshItemAsync(Empty authRefreshItem, final ApiCallback<CreateAuthRefreshItemResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createAuthRefreshItemValidateBeforeCall(authRefreshItem, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateAuthRefreshItemResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createAuthRole
     * @param authRole  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createAuthRoleCall(AuthRoleCreateParams authRole, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = authRole;

        // create path and map variables
        String localVarPath = "/platform/1/auth/roles";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createAuthRoleValidateBeforeCall(AuthRoleCreateParams authRole, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authRole' is set
        if (authRole == null) {
            throw new ApiException("Missing the required parameter 'authRole' when calling createAuthRole(Async)");
        }
        

        com.squareup.okhttp.Call call = createAuthRoleCall(authRole, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new role.
     * @param authRole  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createAuthRole(AuthRoleCreateParams authRole) throws ApiException {
        ApiResponse<CreateResponse> resp = createAuthRoleWithHttpInfo(authRole);
        return resp.getData();
    }

    /**
     * 
     * Create a new role.
     * @param authRole  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createAuthRoleWithHttpInfo(AuthRoleCreateParams authRole) throws ApiException {
        com.squareup.okhttp.Call call = createAuthRoleValidateBeforeCall(authRole, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new role.
     * @param authRole  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAuthRoleAsync(AuthRoleCreateParams authRole, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createAuthRoleValidateBeforeCall(authRole, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createAuthUser
     * @param authUser  (required)
     * @param force Skip validation checks when creating user. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createAuthUserCall(AuthUserCreateParams authUser, Boolean force, String zone, String provider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = authUser;

        // create path and map variables
        String localVarPath = "/platform/1/auth/users";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (force != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force", force));
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));
        if (provider != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("provider", provider));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createAuthUserValidateBeforeCall(AuthUserCreateParams authUser, Boolean force, String zone, String provider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authUser' is set
        if (authUser == null) {
            throw new ApiException("Missing the required parameter 'authUser' when calling createAuthUser(Async)");
        }
        

        com.squareup.okhttp.Call call = createAuthUserCall(authUser, force, zone, provider, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new user.
     * @param authUser  (required)
     * @param force Skip validation checks when creating user. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createAuthUser(AuthUserCreateParams authUser, Boolean force, String zone, String provider) throws ApiException {
        ApiResponse<CreateResponse> resp = createAuthUserWithHttpInfo(authUser, force, zone, provider);
        return resp.getData();
    }

    /**
     * 
     * Create a new user.
     * @param authUser  (required)
     * @param force Skip validation checks when creating user. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createAuthUserWithHttpInfo(AuthUserCreateParams authUser, Boolean force, String zone, String provider) throws ApiException {
        com.squareup.okhttp.Call call = createAuthUserValidateBeforeCall(authUser, force, zone, provider, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new user.
     * @param authUser  (required)
     * @param force Skip validation checks when creating user. (optional)
     * @param zone Optional zone. (optional)
     * @param provider Optional provider type. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAuthUserAsync(AuthUserCreateParams authUser, Boolean force, String zone, String provider, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createAuthUserValidateBeforeCall(authUser, force, zone, provider, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createMappingIdentity
     * @param mappingIdentity  (required)
     * @param _2way Create a bi-directional mapping from source to target and target to source. (optional)
     * @param zone Optional zone. (optional)
     * @param replace Replace existing mappings. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createMappingIdentityCall(MappingIdentityCreateParams mappingIdentity, Boolean _2way, String zone, Boolean replace, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = mappingIdentity;

        // create path and map variables
        String localVarPath = "/platform/1/auth/mapping/identities";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (_2way != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("2way", _2way));
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));
        if (replace != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("replace", replace));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createMappingIdentityValidateBeforeCall(MappingIdentityCreateParams mappingIdentity, Boolean _2way, String zone, Boolean replace, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'mappingIdentity' is set
        if (mappingIdentity == null) {
            throw new ApiException("Missing the required parameter 'mappingIdentity' when calling createMappingIdentity(Async)");
        }
        

        com.squareup.okhttp.Call call = createMappingIdentityCall(mappingIdentity, _2way, zone, replace, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Manually set or modify a mapping between two personae.
     * @param mappingIdentity  (required)
     * @param _2way Create a bi-directional mapping from source to target and target to source. (optional)
     * @param zone Optional zone. (optional)
     * @param replace Replace existing mappings. (optional)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createMappingIdentity(MappingIdentityCreateParams mappingIdentity, Boolean _2way, String zone, Boolean replace) throws ApiException {
        ApiResponse<Empty> resp = createMappingIdentityWithHttpInfo(mappingIdentity, _2way, zone, replace);
        return resp.getData();
    }

    /**
     * 
     * Manually set or modify a mapping between two personae.
     * @param mappingIdentity  (required)
     * @param _2way Create a bi-directional mapping from source to target and target to source. (optional)
     * @param zone Optional zone. (optional)
     * @param replace Replace existing mappings. (optional)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createMappingIdentityWithHttpInfo(MappingIdentityCreateParams mappingIdentity, Boolean _2way, String zone, Boolean replace) throws ApiException {
        com.squareup.okhttp.Call call = createMappingIdentityValidateBeforeCall(mappingIdentity, _2way, zone, replace, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Manually set or modify a mapping between two personae.
     * @param mappingIdentity  (required)
     * @param _2way Create a bi-directional mapping from source to target and target to source. (optional)
     * @param zone Optional zone. (optional)
     * @param replace Replace existing mappings. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createMappingIdentityAsync(MappingIdentityCreateParams mappingIdentity, Boolean _2way, String zone, Boolean replace, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createMappingIdentityValidateBeforeCall(mappingIdentity, _2way, zone, replace, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createMappingIdentity_0
     * @param mappingIdentity  (required)
     * @param mappingIdentityId Manually set or modify a mapping between two personae. (required)
     * @param type Desired mapping target to fetch/generate. (optional)
     * @param zone Optional zone. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createMappingIdentity_0Call(Empty mappingIdentity, String mappingIdentityId, String type, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = mappingIdentity;

        // create path and map variables
        String localVarPath = "/platform/1/auth/mapping/identities/{MappingIdentityId}"
            .replaceAll("\\{" + "MappingIdentityId" + "\\}", apiClient.escapeString(mappingIdentityId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createMappingIdentity_0ValidateBeforeCall(Empty mappingIdentity, String mappingIdentityId, String type, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'mappingIdentity' is set
        if (mappingIdentity == null) {
            throw new ApiException("Missing the required parameter 'mappingIdentity' when calling createMappingIdentity_0(Async)");
        }
        
        // verify the required parameter 'mappingIdentityId' is set
        if (mappingIdentityId == null) {
            throw new ApiException("Missing the required parameter 'mappingIdentityId' when calling createMappingIdentity_0(Async)");
        }
        

        com.squareup.okhttp.Call call = createMappingIdentity_0Call(mappingIdentity, mappingIdentityId, type, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Manually set or modify a mapping between two personae.
     * @param mappingIdentity  (required)
     * @param mappingIdentityId Manually set or modify a mapping between two personae. (required)
     * @param type Desired mapping target to fetch/generate. (optional)
     * @param zone Optional zone. (optional)
     * @return MappingIdentities
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MappingIdentities createMappingIdentity_0(Empty mappingIdentity, String mappingIdentityId, String type, String zone) throws ApiException {
        ApiResponse<MappingIdentities> resp = createMappingIdentity_0WithHttpInfo(mappingIdentity, mappingIdentityId, type, zone);
        return resp.getData();
    }

    /**
     * 
     * Manually set or modify a mapping between two personae.
     * @param mappingIdentity  (required)
     * @param mappingIdentityId Manually set or modify a mapping between two personae. (required)
     * @param type Desired mapping target to fetch/generate. (optional)
     * @param zone Optional zone. (optional)
     * @return ApiResponse&lt;MappingIdentities&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MappingIdentities> createMappingIdentity_0WithHttpInfo(Empty mappingIdentity, String mappingIdentityId, String type, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createMappingIdentity_0ValidateBeforeCall(mappingIdentity, mappingIdentityId, type, zone, null, null);
        Type localVarReturnType = new TypeToken<MappingIdentities>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Manually set or modify a mapping between two personae.
     * @param mappingIdentity  (required)
     * @param mappingIdentityId Manually set or modify a mapping between two personae. (required)
     * @param type Desired mapping target to fetch/generate. (optional)
     * @param zone Optional zone. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createMappingIdentity_0Async(Empty mappingIdentity, String mappingIdentityId, String type, String zone, final ApiCallback<MappingIdentities> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createMappingIdentity_0ValidateBeforeCall(mappingIdentity, mappingIdentityId, type, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MappingIdentities>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createProvidersAdsItem
     * @param providersAdsItem  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProvidersAdsItemCall(ProvidersAdsItem providersAdsItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = providersAdsItem;

        // create path and map variables
        String localVarPath = "/platform/3/auth/providers/ads";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProvidersAdsItemValidateBeforeCall(ProvidersAdsItem providersAdsItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'providersAdsItem' is set
        if (providersAdsItem == null) {
            throw new ApiException("Missing the required parameter 'providersAdsItem' when calling createProvidersAdsItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createProvidersAdsItemCall(providersAdsItem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new ADS provider.
     * @param providersAdsItem  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createProvidersAdsItem(ProvidersAdsItem providersAdsItem) throws ApiException {
        ApiResponse<CreateResponse> resp = createProvidersAdsItemWithHttpInfo(providersAdsItem);
        return resp.getData();
    }

    /**
     * 
     * Create a new ADS provider.
     * @param providersAdsItem  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createProvidersAdsItemWithHttpInfo(ProvidersAdsItem providersAdsItem) throws ApiException {
        com.squareup.okhttp.Call call = createProvidersAdsItemValidateBeforeCall(providersAdsItem, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new ADS provider.
     * @param providersAdsItem  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProvidersAdsItemAsync(ProvidersAdsItem providersAdsItem, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProvidersAdsItemValidateBeforeCall(providersAdsItem, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createProvidersFileItem
     * @param providersFileItem  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProvidersFileItemCall(ProvidersFileItem providersFileItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = providersFileItem;

        // create path and map variables
        String localVarPath = "/platform/1/auth/providers/file";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProvidersFileItemValidateBeforeCall(ProvidersFileItem providersFileItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'providersFileItem' is set
        if (providersFileItem == null) {
            throw new ApiException("Missing the required parameter 'providersFileItem' when calling createProvidersFileItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createProvidersFileItemCall(providersFileItem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new file provider.
     * @param providersFileItem  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createProvidersFileItem(ProvidersFileItem providersFileItem) throws ApiException {
        ApiResponse<CreateResponse> resp = createProvidersFileItemWithHttpInfo(providersFileItem);
        return resp.getData();
    }

    /**
     * 
     * Create a new file provider.
     * @param providersFileItem  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createProvidersFileItemWithHttpInfo(ProvidersFileItem providersFileItem) throws ApiException {
        com.squareup.okhttp.Call call = createProvidersFileItemValidateBeforeCall(providersFileItem, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new file provider.
     * @param providersFileItem  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProvidersFileItemAsync(ProvidersFileItem providersFileItem, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProvidersFileItemValidateBeforeCall(providersFileItem, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createProvidersKrb5Item
     * @param providersKrb5Item  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProvidersKrb5ItemCall(ProvidersKrb5Item providersKrb5Item, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = providersKrb5Item;

        // create path and map variables
        String localVarPath = "/platform/3/auth/providers/krb5";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProvidersKrb5ItemValidateBeforeCall(ProvidersKrb5Item providersKrb5Item, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'providersKrb5Item' is set
        if (providersKrb5Item == null) {
            throw new ApiException("Missing the required parameter 'providersKrb5Item' when calling createProvidersKrb5Item(Async)");
        }
        

        com.squareup.okhttp.Call call = createProvidersKrb5ItemCall(providersKrb5Item, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new KRB5 provider.
     * @param providersKrb5Item  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createProvidersKrb5Item(ProvidersKrb5Item providersKrb5Item) throws ApiException {
        ApiResponse<CreateResponse> resp = createProvidersKrb5ItemWithHttpInfo(providersKrb5Item);
        return resp.getData();
    }

    /**
     * 
     * Create a new KRB5 provider.
     * @param providersKrb5Item  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createProvidersKrb5ItemWithHttpInfo(ProvidersKrb5Item providersKrb5Item) throws ApiException {
        com.squareup.okhttp.Call call = createProvidersKrb5ItemValidateBeforeCall(providersKrb5Item, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new KRB5 provider.
     * @param providersKrb5Item  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProvidersKrb5ItemAsync(ProvidersKrb5Item providersKrb5Item, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProvidersKrb5ItemValidateBeforeCall(providersKrb5Item, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createProvidersLdapItem
     * @param providersLdapItem  (required)
     * @param force Ignore unresolvable server URIs. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProvidersLdapItemCall(ProvidersLdapItem providersLdapItem, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = providersLdapItem;

        // create path and map variables
        String localVarPath = "/platform/4/auth/providers/ldap";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (force != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force", force));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProvidersLdapItemValidateBeforeCall(ProvidersLdapItem providersLdapItem, Boolean force, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'providersLdapItem' is set
        if (providersLdapItem == null) {
            throw new ApiException("Missing the required parameter 'providersLdapItem' when calling createProvidersLdapItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createProvidersLdapItemCall(providersLdapItem, force, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new LDAP provider.
     * @param providersLdapItem  (required)
     * @param force Ignore unresolvable server URIs. (optional)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createProvidersLdapItem(ProvidersLdapItem providersLdapItem, Boolean force) throws ApiException {
        ApiResponse<CreateResponse> resp = createProvidersLdapItemWithHttpInfo(providersLdapItem, force);
        return resp.getData();
    }

    /**
     * 
     * Create a new LDAP provider.
     * @param providersLdapItem  (required)
     * @param force Ignore unresolvable server URIs. (optional)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createProvidersLdapItemWithHttpInfo(ProvidersLdapItem providersLdapItem, Boolean force) throws ApiException {
        com.squareup.okhttp.Call call = createProvidersLdapItemValidateBeforeCall(providersLdapItem, force, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new LDAP provider.
     * @param providersLdapItem  (required)
     * @param force Ignore unresolvable server URIs. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProvidersLdapItemAsync(ProvidersLdapItem providersLdapItem, Boolean force, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProvidersLdapItemValidateBeforeCall(providersLdapItem, force, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createProvidersNisItem
     * @param providersNisItem  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProvidersNisItemCall(ProvidersNisItem providersNisItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = providersNisItem;

        // create path and map variables
        String localVarPath = "/platform/3/auth/providers/nis";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProvidersNisItemValidateBeforeCall(ProvidersNisItem providersNisItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'providersNisItem' is set
        if (providersNisItem == null) {
            throw new ApiException("Missing the required parameter 'providersNisItem' when calling createProvidersNisItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createProvidersNisItemCall(providersNisItem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new NIS provider.
     * @param providersNisItem  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createProvidersNisItem(ProvidersNisItem providersNisItem) throws ApiException {
        ApiResponse<CreateResponse> resp = createProvidersNisItemWithHttpInfo(providersNisItem);
        return resp.getData();
    }

    /**
     * 
     * Create a new NIS provider.
     * @param providersNisItem  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createProvidersNisItemWithHttpInfo(ProvidersNisItem providersNisItem) throws ApiException {
        com.squareup.okhttp.Call call = createProvidersNisItemValidateBeforeCall(providersNisItem, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new NIS provider.
     * @param providersNisItem  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProvidersNisItemAsync(ProvidersNisItem providersNisItem, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProvidersNisItemValidateBeforeCall(providersNisItem, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSettingsKrb5Domain
     * @param settingsKrb5Domain  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSettingsKrb5DomainCall(SettingsKrb5DomainCreateParams settingsKrb5Domain, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = settingsKrb5Domain;

        // create path and map variables
        String localVarPath = "/platform/1/auth/settings/krb5/domains";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createSettingsKrb5DomainValidateBeforeCall(SettingsKrb5DomainCreateParams settingsKrb5Domain, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'settingsKrb5Domain' is set
        if (settingsKrb5Domain == null) {
            throw new ApiException("Missing the required parameter 'settingsKrb5Domain' when calling createSettingsKrb5Domain(Async)");
        }
        

        com.squareup.okhttp.Call call = createSettingsKrb5DomainCall(settingsKrb5Domain, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new krb5 domain.
     * @param settingsKrb5Domain  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createSettingsKrb5Domain(SettingsKrb5DomainCreateParams settingsKrb5Domain) throws ApiException {
        ApiResponse<CreateResponse> resp = createSettingsKrb5DomainWithHttpInfo(settingsKrb5Domain);
        return resp.getData();
    }

    /**
     * 
     * Create a new krb5 domain.
     * @param settingsKrb5Domain  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createSettingsKrb5DomainWithHttpInfo(SettingsKrb5DomainCreateParams settingsKrb5Domain) throws ApiException {
        com.squareup.okhttp.Call call = createSettingsKrb5DomainValidateBeforeCall(settingsKrb5Domain, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new krb5 domain.
     * @param settingsKrb5Domain  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createSettingsKrb5DomainAsync(SettingsKrb5DomainCreateParams settingsKrb5Domain, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createSettingsKrb5DomainValidateBeforeCall(settingsKrb5Domain, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSettingsKrb5Realm
     * @param settingsKrb5Realm  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSettingsKrb5RealmCall(SettingsKrb5RealmCreateParams settingsKrb5Realm, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = settingsKrb5Realm;

        // create path and map variables
        String localVarPath = "/platform/1/auth/settings/krb5/realms";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createSettingsKrb5RealmValidateBeforeCall(SettingsKrb5RealmCreateParams settingsKrb5Realm, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'settingsKrb5Realm' is set
        if (settingsKrb5Realm == null) {
            throw new ApiException("Missing the required parameter 'settingsKrb5Realm' when calling createSettingsKrb5Realm(Async)");
        }
        

        com.squareup.okhttp.Call call = createSettingsKrb5RealmCall(settingsKrb5Realm, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new krb5 realm.
     * @param settingsKrb5Realm  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createSettingsKrb5Realm(SettingsKrb5RealmCreateParams settingsKrb5Realm) throws ApiException {
        ApiResponse<CreateResponse> resp = createSettingsKrb5RealmWithHttpInfo(settingsKrb5Realm);
        return resp.getData();
    }

    /**
     * 
     * Create a new krb5 realm.
     * @param settingsKrb5Realm  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createSettingsKrb5RealmWithHttpInfo(SettingsKrb5RealmCreateParams settingsKrb5Realm) throws ApiException {
        com.squareup.okhttp.Call call = createSettingsKrb5RealmValidateBeforeCall(settingsKrb5Realm, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new krb5 realm.
     * @param settingsKrb5Realm  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createSettingsKrb5RealmAsync(SettingsKrb5RealmCreateParams settingsKrb5Realm, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createSettingsKrb5RealmValidateBeforeCall(settingsKrb5Realm, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteAuthGroup
     * @param authGroupId Delete the group. (required)
     * @param cached If true, flush the group from the cache. (optional)
     * @param zone Filter groups by zone. (optional)
     * @param provider Filter groups by provider. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteAuthGroupCall(String authGroupId, Boolean cached, String zone, String provider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/1/auth/groups/{AuthGroupId}"
            .replaceAll("\\{" + "AuthGroupId" + "\\}", apiClient.escapeString(authGroupId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cached != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cached", cached));
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));
        if (provider != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("provider", provider));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteAuthGroupValidateBeforeCall(String authGroupId, Boolean cached, String zone, String provider, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authGroupId' is set
        if (authGroupId == null) {
            throw new ApiException("Missing the required parameter 'authGroupId' when calling deleteAuthGroup(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteAuthGroupCall(authGroupId, cached, zone, provider, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Delete the group.
     * @param authGroupId Delete the group. (required)
     * @param cached If true, flush the group from the cache. (optional)
     * @param zone Filter groups by zone. (optional)
     * @param provider Filter groups by provider. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteAuthGroup(String authGroupId, Boolean cached, String zone, String provider) throws ApiException {
        deleteAuthGroupWithHttpInfo(authGroupId, cached, zone, provider);
    }

    /**
     * 
     * Delete the group.
     * @param authGroupId Delete the group. (required)
     * @param cached If true, flush the group from the cache. (optional)
     * @param zone Filter groups by zone. (optional)
[...]
