/*
 * Isilon SDK
 * Isilon SDK - Language bindings for the OneFS API
 *
 * OpenAPI spec version: 5
 * Contact: sdk@isilon.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.CloudAccess;
import io.swagger.client.model.CloudAccessExtended;
import io.swagger.client.model.CloudAccessItem;
import io.swagger.client.model.CloudAccount;
import io.swagger.client.model.CloudAccountCreateParams;
import io.swagger.client.model.CloudAccounts;
import io.swagger.client.model.CloudAccountsExtended;
import io.swagger.client.model.CloudJob;
import io.swagger.client.model.CloudJobCreateParams;
import io.swagger.client.model.CloudJobs;
import io.swagger.client.model.CloudJobsExtended;
import io.swagger.client.model.CloudJobsFiles;
import io.swagger.client.model.CloudPool;
import io.swagger.client.model.CloudPoolCreateParams;
import io.swagger.client.model.CloudPools;
import io.swagger.client.model.CloudPoolsExtended;
import io.swagger.client.model.CloudProxies;
import io.swagger.client.model.CloudProxiesExtended;
import io.swagger.client.model.CloudProxy;
import io.swagger.client.model.CloudProxyCreateParams;
import io.swagger.client.model.CloudSettings;
import io.swagger.client.model.CloudSettingsSettings;
import io.swagger.client.model.CreateCloudAccountResponse;
import io.swagger.client.model.CreateCloudJobResponse;
import io.swagger.client.model.CreateCloudPoolResponse;
import io.swagger.client.model.CreateCloudProxyResponse;
import io.swagger.client.model.Empty;
import io.swagger.client.model.Error;
import io.swagger.client.model.SettingsReportingEulaItem;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CloudApi {
    private ApiClient apiClient;

    public CloudApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CloudApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createCloudAccessItem
     * @param cloudAccessItem  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCloudAccessItemCall(CloudAccessItem cloudAccessItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = cloudAccessItem;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/access";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCloudAccessItemValidateBeforeCall(CloudAccessItem cloudAccessItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudAccessItem' is set
        if (cloudAccessItem == null) {
            throw new ApiException("Missing the required parameter 'cloudAccessItem' when calling createCloudAccessItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createCloudAccessItemCall(cloudAccessItem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Add a cluster identifier to access list.
     * @param cloudAccessItem  (required)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createCloudAccessItem(CloudAccessItem cloudAccessItem) throws ApiException {
        ApiResponse<Empty> resp = createCloudAccessItemWithHttpInfo(cloudAccessItem);
        return resp.getData();
    }

    /**
     * 
     * Add a cluster identifier to access list.
     * @param cloudAccessItem  (required)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createCloudAccessItemWithHttpInfo(CloudAccessItem cloudAccessItem) throws ApiException {
        com.squareup.okhttp.Call call = createCloudAccessItemValidateBeforeCall(cloudAccessItem, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Add a cluster identifier to access list.
     * @param cloudAccessItem  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCloudAccessItemAsync(CloudAccessItem cloudAccessItem, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCloudAccessItemValidateBeforeCall(cloudAccessItem, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCloudAccount
     * @param cloudAccount  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCloudAccountCall(CloudAccountCreateParams cloudAccount, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = cloudAccount;

        // create path and map variables
        String localVarPath = "/platform/4/cloud/accounts";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCloudAccountValidateBeforeCall(CloudAccountCreateParams cloudAccount, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudAccount' is set
        if (cloudAccount == null) {
            throw new ApiException("Missing the required parameter 'cloudAccount' when calling createCloudAccount(Async)");
        }
        

        com.squareup.okhttp.Call call = createCloudAccountCall(cloudAccount, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new account.
     * @param cloudAccount  (required)
     * @return CreateCloudAccountResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateCloudAccountResponse createCloudAccount(CloudAccountCreateParams cloudAccount) throws ApiException {
        ApiResponse<CreateCloudAccountResponse> resp = createCloudAccountWithHttpInfo(cloudAccount);
        return resp.getData();
    }

    /**
     * 
     * Create a new account.
     * @param cloudAccount  (required)
     * @return ApiResponse&lt;CreateCloudAccountResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateCloudAccountResponse> createCloudAccountWithHttpInfo(CloudAccountCreateParams cloudAccount) throws ApiException {
        com.squareup.okhttp.Call call = createCloudAccountValidateBeforeCall(cloudAccount, null, null);
        Type localVarReturnType = new TypeToken<CreateCloudAccountResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new account.
     * @param cloudAccount  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCloudAccountAsync(CloudAccountCreateParams cloudAccount, final ApiCallback<CreateCloudAccountResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCloudAccountValidateBeforeCall(cloudAccount, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateCloudAccountResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCloudJob
     * @param cloudJob  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCloudJobCall(CloudJobCreateParams cloudJob, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = cloudJob;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/jobs";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCloudJobValidateBeforeCall(CloudJobCreateParams cloudJob, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudJob' is set
        if (cloudJob == null) {
            throw new ApiException("Missing the required parameter 'cloudJob' when calling createCloudJob(Async)");
        }
        

        com.squareup.okhttp.Call call = createCloudJobCall(cloudJob, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new job.
     * @param cloudJob  (required)
     * @return CreateCloudJobResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateCloudJobResponse createCloudJob(CloudJobCreateParams cloudJob) throws ApiException {
        ApiResponse<CreateCloudJobResponse> resp = createCloudJobWithHttpInfo(cloudJob);
        return resp.getData();
    }

    /**
     * 
     * Create a new job.
     * @param cloudJob  (required)
     * @return ApiResponse&lt;CreateCloudJobResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateCloudJobResponse> createCloudJobWithHttpInfo(CloudJobCreateParams cloudJob) throws ApiException {
        com.squareup.okhttp.Call call = createCloudJobValidateBeforeCall(cloudJob, null, null);
        Type localVarReturnType = new TypeToken<CreateCloudJobResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new job.
     * @param cloudJob  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCloudJobAsync(CloudJobCreateParams cloudJob, final ApiCallback<CreateCloudJobResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCloudJobValidateBeforeCall(cloudJob, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateCloudJobResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCloudPool
     * @param cloudPool  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCloudPoolCall(CloudPoolCreateParams cloudPool, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = cloudPool;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/pools";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCloudPoolValidateBeforeCall(CloudPoolCreateParams cloudPool, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudPool' is set
        if (cloudPool == null) {
            throw new ApiException("Missing the required parameter 'cloudPool' when calling createCloudPool(Async)");
        }
        

        com.squareup.okhttp.Call call = createCloudPoolCall(cloudPool, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new pool.
     * @param cloudPool  (required)
     * @return CreateCloudPoolResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateCloudPoolResponse createCloudPool(CloudPoolCreateParams cloudPool) throws ApiException {
        ApiResponse<CreateCloudPoolResponse> resp = createCloudPoolWithHttpInfo(cloudPool);
        return resp.getData();
    }

    /**
     * 
     * Create a new pool.
     * @param cloudPool  (required)
     * @return ApiResponse&lt;CreateCloudPoolResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateCloudPoolResponse> createCloudPoolWithHttpInfo(CloudPoolCreateParams cloudPool) throws ApiException {
        com.squareup.okhttp.Call call = createCloudPoolValidateBeforeCall(cloudPool, null, null);
        Type localVarReturnType = new TypeToken<CreateCloudPoolResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new pool.
     * @param cloudPool  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCloudPoolAsync(CloudPoolCreateParams cloudPool, final ApiCallback<CreateCloudPoolResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCloudPoolValidateBeforeCall(cloudPool, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateCloudPoolResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCloudProxy
     * @param cloudProxy  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createCloudProxyCall(CloudProxyCreateParams cloudProxy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = cloudProxy;

        // create path and map variables
        String localVarPath = "/platform/4/cloud/proxies";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createCloudProxyValidateBeforeCall(CloudProxyCreateParams cloudProxy, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudProxy' is set
        if (cloudProxy == null) {
            throw new ApiException("Missing the required parameter 'cloudProxy' when calling createCloudProxy(Async)");
        }
        

        com.squareup.okhttp.Call call = createCloudProxyCall(cloudProxy, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new proxy.
     * @param cloudProxy  (required)
     * @return CreateCloudProxyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateCloudProxyResponse createCloudProxy(CloudProxyCreateParams cloudProxy) throws ApiException {
        ApiResponse<CreateCloudProxyResponse> resp = createCloudProxyWithHttpInfo(cloudProxy);
        return resp.getData();
    }

    /**
     * 
     * Create a new proxy.
     * @param cloudProxy  (required)
     * @return ApiResponse&lt;CreateCloudProxyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateCloudProxyResponse> createCloudProxyWithHttpInfo(CloudProxyCreateParams cloudProxy) throws ApiException {
        com.squareup.okhttp.Call call = createCloudProxyValidateBeforeCall(cloudProxy, null, null);
        Type localVarReturnType = new TypeToken<CreateCloudProxyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new proxy.
     * @param cloudProxy  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createCloudProxyAsync(CloudProxyCreateParams cloudProxy, final ApiCallback<CreateCloudProxyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCloudProxyValidateBeforeCall(cloudProxy, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateCloudProxyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSettingsEncryptionKeyItem
     * @param settingsEncryptionKeyItem  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSettingsEncryptionKeyItemCall(Empty settingsEncryptionKeyItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = settingsEncryptionKeyItem;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/settings/encryption-key";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createSettingsEncryptionKeyItemValidateBeforeCall(Empty settingsEncryptionKeyItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'settingsEncryptionKeyItem' is set
        if (settingsEncryptionKeyItem == null) {
            throw new ApiException("Missing the required parameter 'settingsEncryptionKeyItem' when calling createSettingsEncryptionKeyItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createSettingsEncryptionKeyItemCall(settingsEncryptionKeyItem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Regenerate master encryption key.
     * @param settingsEncryptionKeyItem  (required)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createSettingsEncryptionKeyItem(Empty settingsEncryptionKeyItem) throws ApiException {
        ApiResponse<Empty> resp = createSettingsEncryptionKeyItemWithHttpInfo(settingsEncryptionKeyItem);
        return resp.getData();
    }

    /**
     * 
     * Regenerate master encryption key.
     * @param settingsEncryptionKeyItem  (required)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createSettingsEncryptionKeyItemWithHttpInfo(Empty settingsEncryptionKeyItem) throws ApiException {
        com.squareup.okhttp.Call call = createSettingsEncryptionKeyItemValidateBeforeCall(settingsEncryptionKeyItem, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Regenerate master encryption key.
     * @param settingsEncryptionKeyItem  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createSettingsEncryptionKeyItemAsync(Empty settingsEncryptionKeyItem, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createSettingsEncryptionKeyItemValidateBeforeCall(settingsEncryptionKeyItem, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSettingsReportingEulaItem
     * @param settingsReportingEulaItem  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSettingsReportingEulaItemCall(SettingsReportingEulaItem settingsReportingEulaItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = settingsReportingEulaItem;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/settings/reporting-eula";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createSettingsReportingEulaItemValidateBeforeCall(SettingsReportingEulaItem settingsReportingEulaItem, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'settingsReportingEulaItem' is set
        if (settingsReportingEulaItem == null) {
            throw new ApiException("Missing the required parameter 'settingsReportingEulaItem' when calling createSettingsReportingEulaItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createSettingsReportingEulaItemCall(settingsReportingEulaItem, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Accept telemetry collection EULA.
     * @param settingsReportingEulaItem  (required)
     * @return SettingsReportingEulaItem
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SettingsReportingEulaItem createSettingsReportingEulaItem(SettingsReportingEulaItem settingsReportingEulaItem) throws ApiException {
        ApiResponse<SettingsReportingEulaItem> resp = createSettingsReportingEulaItemWithHttpInfo(settingsReportingEulaItem);
        return resp.getData();
    }

    /**
     * 
     * Accept telemetry collection EULA.
     * @param settingsReportingEulaItem  (required)
     * @return ApiResponse&lt;SettingsReportingEulaItem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SettingsReportingEulaItem> createSettingsReportingEulaItemWithHttpInfo(SettingsReportingEulaItem settingsReportingEulaItem) throws ApiException {
        com.squareup.okhttp.Call call = createSettingsReportingEulaItemValidateBeforeCall(settingsReportingEulaItem, null, null);
        Type localVarReturnType = new TypeToken<SettingsReportingEulaItem>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Accept telemetry collection EULA.
     * @param settingsReportingEulaItem  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createSettingsReportingEulaItemAsync(SettingsReportingEulaItem settingsReportingEulaItem, final ApiCallback<SettingsReportingEulaItem> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createSettingsReportingEulaItemValidateBeforeCall(settingsReportingEulaItem, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SettingsReportingEulaItem>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteCloudAccessGuid
     * @param cloudAccessGuid Delete cloud access. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteCloudAccessGuidCall(String cloudAccessGuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/access/{CloudAccessGuid}"
            .replaceAll("\\{" + "CloudAccessGuid" + "\\}", apiClient.escapeString(cloudAccessGuid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCloudAccessGuidValidateBeforeCall(String cloudAccessGuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudAccessGuid' is set
        if (cloudAccessGuid == null) {
            throw new ApiException("Missing the required parameter 'cloudAccessGuid' when calling deleteCloudAccessGuid(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCloudAccessGuidCall(cloudAccessGuid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Delete cloud access.
     * @param cloudAccessGuid Delete cloud access. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteCloudAccessGuid(String cloudAccessGuid) throws ApiException {
        deleteCloudAccessGuidWithHttpInfo(cloudAccessGuid);
    }

    /**
     * 
     * Delete cloud access.
     * @param cloudAccessGuid Delete cloud access. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteCloudAccessGuidWithHttpInfo(String cloudAccessGuid) throws ApiException {
        com.squareup.okhttp.Call call = deleteCloudAccessGuidValidateBeforeCall(cloudAccessGuid, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * Delete cloud access.
     * @param cloudAccessGuid Delete cloud access. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCloudAccessGuidAsync(String cloudAccessGuid, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCloudAccessGuidValidateBeforeCall(cloudAccessGuid, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteCloudAccount
     * @param cloudAccountId Delete cloud account. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteCloudAccountCall(String cloudAccountId, String acknowledgeForceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/4/cloud/accounts/{CloudAccountId}"
            .replaceAll("\\{" + "CloudAccountId" + "\\}", apiClient.escapeString(cloudAccountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (acknowledgeForceDelete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("acknowledge_force_delete", acknowledgeForceDelete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCloudAccountValidateBeforeCall(String cloudAccountId, String acknowledgeForceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudAccountId' is set
        if (cloudAccountId == null) {
            throw new ApiException("Missing the required parameter 'cloudAccountId' when calling deleteCloudAccount(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCloudAccountCall(cloudAccountId, acknowledgeForceDelete, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Delete cloud account.
     * @param cloudAccountId Delete cloud account. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteCloudAccount(String cloudAccountId, String acknowledgeForceDelete) throws ApiException {
        deleteCloudAccountWithHttpInfo(cloudAccountId, acknowledgeForceDelete);
    }

    /**
     * 
     * Delete cloud account.
     * @param cloudAccountId Delete cloud account. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteCloudAccountWithHttpInfo(String cloudAccountId, String acknowledgeForceDelete) throws ApiException {
        com.squareup.okhttp.Call call = deleteCloudAccountValidateBeforeCall(cloudAccountId, acknowledgeForceDelete, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * Delete cloud account.
     * @param cloudAccountId Delete cloud account. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCloudAccountAsync(String cloudAccountId, String acknowledgeForceDelete, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCloudAccountValidateBeforeCall(cloudAccountId, acknowledgeForceDelete, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteCloudPool
     * @param cloudPoolId Delete a cloud pool. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteCloudPoolCall(String cloudPoolId, String acknowledgeForceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/pools/{CloudPoolId}"
            .replaceAll("\\{" + "CloudPoolId" + "\\}", apiClient.escapeString(cloudPoolId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (acknowledgeForceDelete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("acknowledge_force_delete", acknowledgeForceDelete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCloudPoolValidateBeforeCall(String cloudPoolId, String acknowledgeForceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudPoolId' is set
        if (cloudPoolId == null) {
            throw new ApiException("Missing the required parameter 'cloudPoolId' when calling deleteCloudPool(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCloudPoolCall(cloudPoolId, acknowledgeForceDelete, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Delete a cloud pool.
     * @param cloudPoolId Delete a cloud pool. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteCloudPool(String cloudPoolId, String acknowledgeForceDelete) throws ApiException {
        deleteCloudPoolWithHttpInfo(cloudPoolId, acknowledgeForceDelete);
    }

    /**
     * 
     * Delete a cloud pool.
     * @param cloudPoolId Delete a cloud pool. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteCloudPoolWithHttpInfo(String cloudPoolId, String acknowledgeForceDelete) throws ApiException {
        com.squareup.okhttp.Call call = deleteCloudPoolValidateBeforeCall(cloudPoolId, acknowledgeForceDelete, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * Delete a cloud pool.
     * @param cloudPoolId Delete a cloud pool. (required)
     * @param acknowledgeForceDelete A value of 1 acknowledges that the user is deleting data. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCloudPoolAsync(String cloudPoolId, String acknowledgeForceDelete, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCloudPoolValidateBeforeCall(cloudPoolId, acknowledgeForceDelete, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteCloudProxy
     * @param cloudProxyId Delete cloud account. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteCloudProxyCall(String cloudProxyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/4/cloud/proxies/{CloudProxyId}"
            .replaceAll("\\{" + "CloudProxyId" + "\\}", apiClient.escapeString(cloudProxyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteCloudProxyValidateBeforeCall(String cloudProxyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudProxyId' is set
        if (cloudProxyId == null) {
            throw new ApiException("Missing the required parameter 'cloudProxyId' when calling deleteCloudProxy(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteCloudProxyCall(cloudProxyId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Delete cloud account.
     * @param cloudProxyId Delete cloud account. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteCloudProxy(String cloudProxyId) throws ApiException {
        deleteCloudProxyWithHttpInfo(cloudProxyId);
    }

    /**
     * 
     * Delete cloud account.
     * @param cloudProxyId Delete cloud account. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteCloudProxyWithHttpInfo(String cloudProxyId) throws ApiException {
        com.squareup.okhttp.Call call = deleteCloudProxyValidateBeforeCall(cloudProxyId, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * Delete cloud account.
     * @param cloudProxyId Delete cloud account. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteCloudProxyAsync(String cloudProxyId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCloudProxyValidateBeforeCall(cloudProxyId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteSettingsReportingEula
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteSettingsReportingEulaCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/settings/reporting-eula";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteSettingsReportingEulaValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = deleteSettingsReportingEulaCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Revoke acceptance of telemetry collection EULA.
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteSettingsReportingEula() throws ApiException {
        deleteSettingsReportingEulaWithHttpInfo();
    }

    /**
     * 
     * Revoke acceptance of telemetry collection EULA.
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteSettingsReportingEulaWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = deleteSettingsReportingEulaValidateBeforeCall(null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * Revoke acceptance of telemetry collection EULA.
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteSettingsReportingEulaAsync(final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteSettingsReportingEulaValidateBeforeCall(progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getCloudAccessGuid
     * @param cloudAccessGuid Retrieve cloud access information. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCloudAccessGuidCall(String cloudAccessGuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/access/{CloudAccessGuid}"
            .replaceAll("\\{" + "CloudAccessGuid" + "\\}", apiClient.escapeString(cloudAccessGuid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCloudAccessGuidValidateBeforeCall(String cloudAccessGuid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudAccessGuid' is set
        if (cloudAccessGuid == null) {
            throw new ApiException("Missing the required parameter 'cloudAccessGuid' when calling getCloudAccessGuid(Async)");
        }
        

        com.squareup.okhttp.Call call = getCloudAccessGuidCall(cloudAccessGuid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Retrieve cloud access information.
     * @param cloudAccessGuid Retrieve cloud access information. (required)
     * @return CloudAccess
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CloudAccess getCloudAccessGuid(String cloudAccessGuid) throws ApiException {
        ApiResponse<CloudAccess> resp = getCloudAccessGuidWithHttpInfo(cloudAccessGuid);
        return resp.getData();
    }

    /**
     * 
     * Retrieve cloud access information.
     * @param cloudAccessGuid Retrieve cloud access information. (required)
     * @return ApiResponse&lt;CloudAccess&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CloudAccess> getCloudAccessGuidWithHttpInfo(String cloudAccessGuid) throws ApiException {
        com.squareup.okhttp.Call call = getCloudAccessGuidValidateBeforeCall(cloudAccessGuid, null, null);
        Type localVarReturnType = new TypeToken<CloudAccess>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve cloud access information.
     * @param cloudAccessGuid Retrieve cloud access information. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCloudAccessGuidAsync(String cloudAccessGuid, final ApiCallback<CloudAccess> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCloudAccessGuidValidateBeforeCall(cloudAccessGuid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CloudAccess>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCloudAccount
     * @param cloudAccountId Retrieve cloud account information. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCloudAccountCall(String cloudAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/4/cloud/accounts/{CloudAccountId}"
            .replaceAll("\\{" + "CloudAccountId" + "\\}", apiClient.escapeString(cloudAccountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCloudAccountValidateBeforeCall(String cloudAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudAccountId' is set
        if (cloudAccountId == null) {
            throw new ApiException("Missing the required parameter 'cloudAccountId' when calling getCloudAccount(Async)");
        }
        

        com.squareup.okhttp.Call call = getCloudAccountCall(cloudAccountId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Retrieve cloud account information.
     * @param cloudAccountId Retrieve cloud account information. (required)
     * @return CloudAccounts
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CloudAccounts getCloudAccount(String cloudAccountId) throws ApiException {
        ApiResponse<CloudAccounts> resp = getCloudAccountWithHttpInfo(cloudAccountId);
        return resp.getData();
    }

    /**
     * 
     * Retrieve cloud account information.
     * @param cloudAccountId Retrieve cloud account information. (required)
     * @return ApiResponse&lt;CloudAccounts&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CloudAccounts> getCloudAccountWithHttpInfo(String cloudAccountId) throws ApiException {
        com.squareup.okhttp.Call call = getCloudAccountValidateBeforeCall(cloudAccountId, null, null);
        Type localVarReturnType = new TypeToken<CloudAccounts>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve cloud account information.
     * @param cloudAccountId Retrieve cloud account information. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCloudAccountAsync(String cloudAccountId, final ApiCallback<CloudAccounts> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCloudAccountValidateBeforeCall(cloudAccountId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CloudAccounts>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCloudJob
     * @param cloudJobId Retrieve cloudpool job information. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCloudJobCall(String cloudJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/jobs/{CloudJobId}"
            .replaceAll("\\{" + "CloudJobId" + "\\}", apiClient.escapeString(cloudJobId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCloudJobValidateBeforeCall(String cloudJobId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudJobId' is set
        if (cloudJobId == null) {
            throw new ApiException("Missing the required parameter 'cloudJobId' when calling getCloudJob(Async)");
        }
        

        com.squareup.okhttp.Call call = getCloudJobCall(cloudJobId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Retrieve cloudpool job information.
     * @param cloudJobId Retrieve cloudpool job information. (required)
     * @return CloudJobs
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CloudJobs getCloudJob(String cloudJobId) throws ApiException {
        ApiResponse<CloudJobs> resp = getCloudJobWithHttpInfo(cloudJobId);
        return resp.getData();
    }

    /**
     * 
     * Retrieve cloudpool job information.
     * @param cloudJobId Retrieve cloudpool job information. (required)
     * @return ApiResponse&lt;CloudJobs&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CloudJobs> getCloudJobWithHttpInfo(String cloudJobId) throws ApiException {
        com.squareup.okhttp.Call call = getCloudJobValidateBeforeCall(cloudJobId, null, null);
        Type localVarReturnType = new TypeToken<CloudJobs>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve cloudpool job information.
     * @param cloudJobId Retrieve cloudpool job information. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCloudJobAsync(String cloudJobId, final ApiCallback<CloudJobs> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCloudJobValidateBeforeCall(cloudJobId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CloudJobs>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCloudJobsFile
     * @param cloudJobsFileId Retrieve files associated with a cloudpool job. (required)
     * @param sort The field that will be used for sorting. (optional)
     * @param resume Continue returning results from previous call using this token (token should come from the previous call, resume cannot be used with other options). (optional)
     * @param batch If true, only \&quot;limit\&quot; and \&quot;page\&quot; arguments are honored.  Query will return all results, unsorted, as quickly as possible. (optional)
     * @param limit Return no more than this many results at once (see resume). (optional)
     * @param page Works only when \&quot;batch\&quot; parameter and \&quot;limit\&quot; parameters are specified.  Indicates which the page index of results to be returned (optional)
     * @param dir The direction of the sort. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCloudJobsFileCall(String cloudJobsFileId, String sort, String resume, Boolean batch, Integer limit, Integer page, String dir, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/platform/3/cloud/jobs-files/{CloudJobsFileId}"
            .replaceAll("\\{" + "CloudJobsFileId" + "\\}", apiClient.escapeString(cloudJobsFileId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (sort != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
        if (resume != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("resume", resume));
        if (batch != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("batch", batch));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (dir != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dir", dir));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCloudJobsFileValidateBeforeCall(String cloudJobsFileId, String sort, String resume, Boolean batch, Integer limit, Integer page, String dir, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'cloudJobsFileId' is set
        if (cloudJobsFileId == null) {
            throw new ApiException("Missing the required parameter 'cloudJobsFileId' when calling getCloudJobsFile(Async)");
        }
        

        com.squareup.okhttp.Call call = getCloudJobsFileCall(cloudJobsFileId, sort, resume, batch, limit, page, dir, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Retrieve files associated with a cloudpool job.
     * @param cloudJobsFileId Retrieve files associated with a cloudpool job. (required)
     * @param sort The field that will be used for sorting. (optional)
     * @param resume Continue returning results from previous call using this token (token should come from the previous call, resume cannot be used with other options). (optional)
     * @param batch If true, only \&quot;limit\&quot; and \&quot;page\&quot; arguments are honored.  Query will return all results, unsorted, as quickly as possible. (optional)
     * @param limit Return no more than this many results at once (see resume). (optional)
     * @param page Works only when \&quot;batch\&quot; parameter and \&quot;limit\&quot; parameters are specified.  Indicates which the page index of results to be returned (optional)
     * @param dir The direction of the sort. (optional)
     * @return CloudJobsFiles
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CloudJobsFiles getCloudJobsFile(String cloudJobsFileId, String sort, String resume, Boolean batch, Integer limit, Integer page, String dir) throws ApiException {
        ApiResponse<CloudJobsFiles> resp = getCloudJobsFileWithHttpInfo(cloudJobsFileId, sort, resume, batch, limit, page, dir);
        return resp.getData();
    }

    /**
     * 
     * Retrieve files associated with a cloudpool job.
     * @param cloudJobsFileId Retrieve files associated with a cloudpool job. (required)
     * @param sort The field that will be used for sorting. (optional)
     * @param resume Continue returning results from previous call using this token (token should come from the previous call, resume cannot be used with other options). (optional)
     * @param batch If true, only \&quot;limit\&quot; and \&quot;page\&quot; arguments are honored.  Query will return all results, unsorted, as quickly as possible. (optional)
     * @param limit Return no more than this many results at once (see resume). (optional)
     * @param page Works only when \&quot;batch\&quot; parameter and \&quot;limit\&quot; parameters are specified.  Indicates which the page index of results to be returned (optional)
     * @param dir The direction of the sort. (optional)
     * @return ApiResponse&lt;CloudJobsFiles&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CloudJobsFiles> getCloudJobsFileWithHttpInfo(String cloudJobsFileId, String sort, String resume, Boolean batch, Integer limit, Integer page, String dir) throws ApiException {
[...]
