/*
 * Isilon SDK
 * Isilon SDK - Language bindings for the OneFS API
 *
 * OpenAPI spec version: 5
 * Contact: sdk@isilon.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.CreateAuthRefreshItemResponse;
import io.swagger.client.model.CreateNfsAliasResponse;
import io.swagger.client.model.CreateNfsNlmSessionsCheckItemResponse;
import io.swagger.client.model.CreateQuotaReportResponse;
import io.swagger.client.model.CreateResponse;
import io.swagger.client.model.Empty;
import io.swagger.client.model.Error;
import io.swagger.client.model.FtpSettings;
import io.swagger.client.model.FtpSettingsExtended;
import io.swagger.client.model.HdfsLogLevel;
import io.swagger.client.model.HdfsProxyuserCreateParams;
import io.swagger.client.model.HdfsProxyusers;
import io.swagger.client.model.HdfsRack;
import io.swagger.client.model.HdfsRackCreateParams;
import io.swagger.client.model.HdfsRacks;
import io.swagger.client.model.HdfsRacksExtended;
import io.swagger.client.model.HdfsRangerPluginSettings;
import io.swagger.client.model.HdfsRangerPluginSettingsSettings;
import io.swagger.client.model.HdfsSettings;
import io.swagger.client.model.HdfsSettingsSettings;
import io.swagger.client.model.HttpSettings;
import io.swagger.client.model.HttpSettingsSettings;
import io.swagger.client.model.NdmpContextsBackup;
import io.swagger.client.model.NdmpContextsBackupExtended;
import io.swagger.client.model.NdmpContextsBre;
import io.swagger.client.model.NdmpContextsBreExtended;
import io.swagger.client.model.NdmpDiagnostics;
import io.swagger.client.model.NdmpDiagnosticsDiagnostics;
import io.swagger.client.model.NdmpDumpdates;
import io.swagger.client.model.NdmpLogs;
import io.swagger.client.model.NdmpSessions;
import io.swagger.client.model.NdmpSessionsExtended;
import io.swagger.client.model.NdmpSettingsDmas;
import io.swagger.client.model.NdmpSettingsGlobal;
import io.swagger.client.model.NdmpSettingsGlobalGlobal;
import io.swagger.client.model.NdmpSettingsPreferredIp;
import io.swagger.client.model.NdmpSettingsPreferredIpCreateParams;
import io.swagger.client.model.NdmpSettingsPreferredIps;
import io.swagger.client.model.NdmpSettingsVariable;
import io.swagger.client.model.NdmpSettingsVariableCreateParams;
import io.swagger.client.model.NdmpSettingsVariables;
import io.swagger.client.model.NdmpUser;
import io.swagger.client.model.NdmpUserCreateParams;
import io.swagger.client.model.NdmpUsers;
import io.swagger.client.model.NdmpUsersExtended;
import io.swagger.client.model.NfsAlias;
import io.swagger.client.model.NfsAliasCreateParams;
import io.swagger.client.model.NfsAliases;
import io.swagger.client.model.NfsAliasesExtended;
import io.swagger.client.model.NfsCheckExtended;
import io.swagger.client.model.NfsExport;
import io.swagger.client.model.NfsExportCreateParams;
import io.swagger.client.model.NfsExports;
import io.swagger.client.model.NfsExportsExtended;
import io.swagger.client.model.NfsExportsSummary;
import io.swagger.client.model.NfsLogLevel;
import io.swagger.client.model.NfsNetgroup;
import io.swagger.client.model.NfsNlmLocks;
import io.swagger.client.model.NfsNlmSessions;
import io.swagger.client.model.NfsNlmSessionsExtended;
import io.swagger.client.model.NfsNlmWaiters;
import io.swagger.client.model.NfsSettingsExport;
import io.swagger.client.model.NfsSettingsExportSettings;
import io.swagger.client.model.NfsSettingsGlobal;
import io.swagger.client.model.NfsSettingsGlobalSettings;
import io.swagger.client.model.NfsSettingsZone;
import io.swagger.client.model.NfsSettingsZoneSettings;
import io.swagger.client.model.NtpServer;
import io.swagger.client.model.NtpServerCreateParams;
import io.swagger.client.model.NtpServers;
import io.swagger.client.model.NtpServersExtended;
import io.swagger.client.model.NtpSettings;
import io.swagger.client.model.NtpSettingsSettings;
import io.swagger.client.model.SmbLogLevel;
import io.swagger.client.model.SmbLogLevelFilter;
import io.swagger.client.model.SmbLogLevelFilters;
import io.swagger.client.model.SmbOpenfiles;
import io.swagger.client.model.SmbSessions;
import io.swagger.client.model.SmbSettingsGlobal;
import io.swagger.client.model.SmbSettingsGlobalExtended;
import io.swagger.client.model.SmbSettingsShare;
import io.swagger.client.model.SmbSettingsShareExtended;
import io.swagger.client.model.SmbShare;
import io.swagger.client.model.SmbShareCreateParams;
import io.swagger.client.model.SmbShares;
import io.swagger.client.model.SmbSharesExtended;
import io.swagger.client.model.SmbSharesSummary;
import io.swagger.client.model.SnmpSettings;
import io.swagger.client.model.SnmpSettingsExtended;
import io.swagger.client.model.SwiftAccount;
import io.swagger.client.model.SwiftAccounts;
import io.swagger.client.model.SwiftAccountsExtended;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProtocolsApi {
    private ApiClient apiClient;

    public ProtocolsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProtocolsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createHdfsProxyuser
     * @param hdfsProxyuser  (required)
     * @param zone Access zone which contains HDFS proxyuser. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createHdfsProxyuserCall(HdfsProxyuserCreateParams hdfsProxyuser, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = hdfsProxyuser;

        // create path and map variables
        String localVarPath = "/platform/1/protocols/hdfs/proxyusers";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createHdfsProxyuserValidateBeforeCall(HdfsProxyuserCreateParams hdfsProxyuser, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'hdfsProxyuser' is set
        if (hdfsProxyuser == null) {
            throw new ApiException("Missing the required parameter 'hdfsProxyuser' when calling createHdfsProxyuser(Async)");
        }
        

        com.squareup.okhttp.Call call = createHdfsProxyuserCall(hdfsProxyuser, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new HDFS proxyuser.
     * @param hdfsProxyuser  (required)
     * @param zone Access zone which contains HDFS proxyuser. (optional)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createHdfsProxyuser(HdfsProxyuserCreateParams hdfsProxyuser, String zone) throws ApiException {
        ApiResponse<CreateResponse> resp = createHdfsProxyuserWithHttpInfo(hdfsProxyuser, zone);
        return resp.getData();
    }

    /**
     * 
     * Create a new HDFS proxyuser.
     * @param hdfsProxyuser  (required)
     * @param zone Access zone which contains HDFS proxyuser. (optional)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createHdfsProxyuserWithHttpInfo(HdfsProxyuserCreateParams hdfsProxyuser, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createHdfsProxyuserValidateBeforeCall(hdfsProxyuser, zone, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new HDFS proxyuser.
     * @param hdfsProxyuser  (required)
     * @param zone Access zone which contains HDFS proxyuser. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createHdfsProxyuserAsync(HdfsProxyuserCreateParams hdfsProxyuser, String zone, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createHdfsProxyuserValidateBeforeCall(hdfsProxyuser, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createHdfsRack
     * @param hdfsRack  (required)
     * @param zone Access zone which contains HDFS rack. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createHdfsRackCall(HdfsRackCreateParams hdfsRack, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = hdfsRack;

        // create path and map variables
        String localVarPath = "/platform/1/protocols/hdfs/racks";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createHdfsRackValidateBeforeCall(HdfsRackCreateParams hdfsRack, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'hdfsRack' is set
        if (hdfsRack == null) {
            throw new ApiException("Missing the required parameter 'hdfsRack' when calling createHdfsRack(Async)");
        }
        

        com.squareup.okhttp.Call call = createHdfsRackCall(hdfsRack, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new HDFS rack.
     * @param hdfsRack  (required)
     * @param zone Access zone which contains HDFS rack. (optional)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createHdfsRack(HdfsRackCreateParams hdfsRack, String zone) throws ApiException {
        ApiResponse<CreateResponse> resp = createHdfsRackWithHttpInfo(hdfsRack, zone);
        return resp.getData();
    }

    /**
     * 
     * Create a new HDFS rack.
     * @param hdfsRack  (required)
     * @param zone Access zone which contains HDFS rack. (optional)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createHdfsRackWithHttpInfo(HdfsRackCreateParams hdfsRack, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createHdfsRackValidateBeforeCall(hdfsRack, zone, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new HDFS rack.
     * @param hdfsRack  (required)
     * @param zone Access zone which contains HDFS rack. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createHdfsRackAsync(HdfsRackCreateParams hdfsRack, String zone, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createHdfsRackValidateBeforeCall(hdfsRack, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNdmpSettingsPreferredIp
     * @param ndmpSettingsPreferredIp  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNdmpSettingsPreferredIpCall(NdmpSettingsPreferredIpCreateParams ndmpSettingsPreferredIp, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = ndmpSettingsPreferredIp;

        // create path and map variables
        String localVarPath = "/platform/4/protocols/ndmp/settings/preferred-ips";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNdmpSettingsPreferredIpValidateBeforeCall(NdmpSettingsPreferredIpCreateParams ndmpSettingsPreferredIp, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'ndmpSettingsPreferredIp' is set
        if (ndmpSettingsPreferredIp == null) {
            throw new ApiException("Missing the required parameter 'ndmpSettingsPreferredIp' when calling createNdmpSettingsPreferredIp(Async)");
        }
        

        com.squareup.okhttp.Call call = createNdmpSettingsPreferredIpCall(ndmpSettingsPreferredIp, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a preferred ip preference.
     * @param ndmpSettingsPreferredIp  (required)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createNdmpSettingsPreferredIp(NdmpSettingsPreferredIpCreateParams ndmpSettingsPreferredIp) throws ApiException {
        ApiResponse<Empty> resp = createNdmpSettingsPreferredIpWithHttpInfo(ndmpSettingsPreferredIp);
        return resp.getData();
    }

    /**
     * 
     * Create a preferred ip preference.
     * @param ndmpSettingsPreferredIp  (required)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createNdmpSettingsPreferredIpWithHttpInfo(NdmpSettingsPreferredIpCreateParams ndmpSettingsPreferredIp) throws ApiException {
        com.squareup.okhttp.Call call = createNdmpSettingsPreferredIpValidateBeforeCall(ndmpSettingsPreferredIp, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a preferred ip preference.
     * @param ndmpSettingsPreferredIp  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNdmpSettingsPreferredIpAsync(NdmpSettingsPreferredIpCreateParams ndmpSettingsPreferredIp, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNdmpSettingsPreferredIpValidateBeforeCall(ndmpSettingsPreferredIp, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNdmpSettingsVariable
     * @param ndmpSettingsVariable  (required)
     * @param ndmpSettingsVariableId Create a preferred NDMP environment variable. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNdmpSettingsVariableCall(NdmpSettingsVariableCreateParams ndmpSettingsVariable, String ndmpSettingsVariableId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = ndmpSettingsVariable;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/ndmp/settings/variables/{NdmpSettingsVariableId}"
            .replaceAll("\\{" + "NdmpSettingsVariableId" + "\\}", apiClient.escapeString(ndmpSettingsVariableId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNdmpSettingsVariableValidateBeforeCall(NdmpSettingsVariableCreateParams ndmpSettingsVariable, String ndmpSettingsVariableId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'ndmpSettingsVariable' is set
        if (ndmpSettingsVariable == null) {
            throw new ApiException("Missing the required parameter 'ndmpSettingsVariable' when calling createNdmpSettingsVariable(Async)");
        }
        
        // verify the required parameter 'ndmpSettingsVariableId' is set
        if (ndmpSettingsVariableId == null) {
            throw new ApiException("Missing the required parameter 'ndmpSettingsVariableId' when calling createNdmpSettingsVariable(Async)");
        }
        

        com.squareup.okhttp.Call call = createNdmpSettingsVariableCall(ndmpSettingsVariable, ndmpSettingsVariableId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a preferred NDMP environment variable.
     * @param ndmpSettingsVariable  (required)
     * @param ndmpSettingsVariableId Create a preferred NDMP environment variable. (required)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createNdmpSettingsVariable(NdmpSettingsVariableCreateParams ndmpSettingsVariable, String ndmpSettingsVariableId) throws ApiException {
        ApiResponse<Empty> resp = createNdmpSettingsVariableWithHttpInfo(ndmpSettingsVariable, ndmpSettingsVariableId);
        return resp.getData();
    }

    /**
     * 
     * Create a preferred NDMP environment variable.
     * @param ndmpSettingsVariable  (required)
     * @param ndmpSettingsVariableId Create a preferred NDMP environment variable. (required)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createNdmpSettingsVariableWithHttpInfo(NdmpSettingsVariableCreateParams ndmpSettingsVariable, String ndmpSettingsVariableId) throws ApiException {
        com.squareup.okhttp.Call call = createNdmpSettingsVariableValidateBeforeCall(ndmpSettingsVariable, ndmpSettingsVariableId, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a preferred NDMP environment variable.
     * @param ndmpSettingsVariable  (required)
     * @param ndmpSettingsVariableId Create a preferred NDMP environment variable. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNdmpSettingsVariableAsync(NdmpSettingsVariableCreateParams ndmpSettingsVariable, String ndmpSettingsVariableId, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNdmpSettingsVariableValidateBeforeCall(ndmpSettingsVariable, ndmpSettingsVariableId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNdmpUser
     * @param ndmpUser  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNdmpUserCall(NdmpUserCreateParams ndmpUser, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = ndmpUser;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/ndmp/users";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNdmpUserValidateBeforeCall(NdmpUserCreateParams ndmpUser, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'ndmpUser' is set
        if (ndmpUser == null) {
            throw new ApiException("Missing the required parameter 'ndmpUser' when calling createNdmpUser(Async)");
        }
        

        com.squareup.okhttp.Call call = createNdmpUserCall(ndmpUser, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Created a new user.
     * @param ndmpUser  (required)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createNdmpUser(NdmpUserCreateParams ndmpUser) throws ApiException {
        ApiResponse<Empty> resp = createNdmpUserWithHttpInfo(ndmpUser);
        return resp.getData();
    }

    /**
     * 
     * Created a new user.
     * @param ndmpUser  (required)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createNdmpUserWithHttpInfo(NdmpUserCreateParams ndmpUser) throws ApiException {
        com.squareup.okhttp.Call call = createNdmpUserValidateBeforeCall(ndmpUser, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Created a new user.
     * @param ndmpUser  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNdmpUserAsync(NdmpUserCreateParams ndmpUser, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNdmpUserValidateBeforeCall(ndmpUser, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNfsAlias
     * @param nfsAlias  (required)
     * @param zone Access zone (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNfsAliasCall(NfsAliasCreateParams nfsAlias, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = nfsAlias;

        // create path and map variables
        String localVarPath = "/platform/2/protocols/nfs/aliases";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNfsAliasValidateBeforeCall(NfsAliasCreateParams nfsAlias, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nfsAlias' is set
        if (nfsAlias == null) {
            throw new ApiException("Missing the required parameter 'nfsAlias' when calling createNfsAlias(Async)");
        }
        

        com.squareup.okhttp.Call call = createNfsAliasCall(nfsAlias, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new NFS alias.
     * @param nfsAlias  (required)
     * @param zone Access zone (optional)
     * @return CreateNfsAliasResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateNfsAliasResponse createNfsAlias(NfsAliasCreateParams nfsAlias, String zone) throws ApiException {
        ApiResponse<CreateNfsAliasResponse> resp = createNfsAliasWithHttpInfo(nfsAlias, zone);
        return resp.getData();
    }

    /**
     * 
     * Create a new NFS alias.
     * @param nfsAlias  (required)
     * @param zone Access zone (optional)
     * @return ApiResponse&lt;CreateNfsAliasResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateNfsAliasResponse> createNfsAliasWithHttpInfo(NfsAliasCreateParams nfsAlias, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createNfsAliasValidateBeforeCall(nfsAlias, zone, null, null);
        Type localVarReturnType = new TypeToken<CreateNfsAliasResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new NFS alias.
     * @param nfsAlias  (required)
     * @param zone Access zone (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNfsAliasAsync(NfsAliasCreateParams nfsAlias, String zone, final ApiCallback<CreateNfsAliasResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNfsAliasValidateBeforeCall(nfsAlias, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateNfsAliasResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNfsExport
     * @param nfsExport  (required)
     * @param force If true, the export will be created even if it conflicts with another export. (optional)
     * @param ignoreUnresolvableHosts Ignore unresolvable hosts. (optional)
     * @param zone Access zone (optional)
     * @param ignoreConflicts Ignore conflicts with existing exports. (optional)
     * @param ignoreBadPaths Ignore nonexistent or otherwise bad paths. (optional)
     * @param ignoreBadAuth Ignore invalid users. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNfsExportCall(NfsExportCreateParams nfsExport, Boolean force, Boolean ignoreUnresolvableHosts, String zone, Boolean ignoreConflicts, Boolean ignoreBadPaths, Boolean ignoreBadAuth, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = nfsExport;

        // create path and map variables
        String localVarPath = "/platform/4/protocols/nfs/exports";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (force != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("force", force));
        if (ignoreUnresolvableHosts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ignore_unresolvable_hosts", ignoreUnresolvableHosts));
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));
        if (ignoreConflicts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ignore_conflicts", ignoreConflicts));
        if (ignoreBadPaths != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ignore_bad_paths", ignoreBadPaths));
        if (ignoreBadAuth != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ignore_bad_auth", ignoreBadAuth));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNfsExportValidateBeforeCall(NfsExportCreateParams nfsExport, Boolean force, Boolean ignoreUnresolvableHosts, String zone, Boolean ignoreConflicts, Boolean ignoreBadPaths, Boolean ignoreBadAuth, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nfsExport' is set
        if (nfsExport == null) {
            throw new ApiException("Missing the required parameter 'nfsExport' when calling createNfsExport(Async)");
        }
        

        com.squareup.okhttp.Call call = createNfsExportCall(nfsExport, force, ignoreUnresolvableHosts, zone, ignoreConflicts, ignoreBadPaths, ignoreBadAuth, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new NFS export.
     * @param nfsExport  (required)
     * @param force If true, the export will be created even if it conflicts with another export. (optional)
     * @param ignoreUnresolvableHosts Ignore unresolvable hosts. (optional)
     * @param zone Access zone (optional)
     * @param ignoreConflicts Ignore conflicts with existing exports. (optional)
     * @param ignoreBadPaths Ignore nonexistent or otherwise bad paths. (optional)
     * @param ignoreBadAuth Ignore invalid users. (optional)
     * @return CreateQuotaReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateQuotaReportResponse createNfsExport(NfsExportCreateParams nfsExport, Boolean force, Boolean ignoreUnresolvableHosts, String zone, Boolean ignoreConflicts, Boolean ignoreBadPaths, Boolean ignoreBadAuth) throws ApiException {
        ApiResponse<CreateQuotaReportResponse> resp = createNfsExportWithHttpInfo(nfsExport, force, ignoreUnresolvableHosts, zone, ignoreConflicts, ignoreBadPaths, ignoreBadAuth);
        return resp.getData();
    }

    /**
     * 
     * Create a new NFS export.
     * @param nfsExport  (required)
     * @param force If true, the export will be created even if it conflicts with another export. (optional)
     * @param ignoreUnresolvableHosts Ignore unresolvable hosts. (optional)
     * @param zone Access zone (optional)
     * @param ignoreConflicts Ignore conflicts with existing exports. (optional)
     * @param ignoreBadPaths Ignore nonexistent or otherwise bad paths. (optional)
     * @param ignoreBadAuth Ignore invalid users. (optional)
     * @return ApiResponse&lt;CreateQuotaReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateQuotaReportResponse> createNfsExportWithHttpInfo(NfsExportCreateParams nfsExport, Boolean force, Boolean ignoreUnresolvableHosts, String zone, Boolean ignoreConflicts, Boolean ignoreBadPaths, Boolean ignoreBadAuth) throws ApiException {
        com.squareup.okhttp.Call call = createNfsExportValidateBeforeCall(nfsExport, force, ignoreUnresolvableHosts, zone, ignoreConflicts, ignoreBadPaths, ignoreBadAuth, null, null);
        Type localVarReturnType = new TypeToken<CreateQuotaReportResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new NFS export.
     * @param nfsExport  (required)
     * @param force If true, the export will be created even if it conflicts with another export. (optional)
     * @param ignoreUnresolvableHosts Ignore unresolvable hosts. (optional)
     * @param zone Access zone (optional)
     * @param ignoreConflicts Ignore conflicts with existing exports. (optional)
     * @param ignoreBadPaths Ignore nonexistent or otherwise bad paths. (optional)
     * @param ignoreBadAuth Ignore invalid users. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNfsExportAsync(NfsExportCreateParams nfsExport, Boolean force, Boolean ignoreUnresolvableHosts, String zone, Boolean ignoreConflicts, Boolean ignoreBadPaths, Boolean ignoreBadAuth, final ApiCallback<CreateQuotaReportResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNfsExportValidateBeforeCall(nfsExport, force, ignoreUnresolvableHosts, zone, ignoreConflicts, ignoreBadPaths, ignoreBadAuth, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateQuotaReportResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNfsNetgroupCheckItem
     * @param nfsNetgroupCheckItem  (required)
     * @param host IP address of node to update. If unspecified, the local nodes cache is updated. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNfsNetgroupCheckItemCall(Empty nfsNetgroupCheckItem, String host, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = nfsNetgroupCheckItem;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/nfs/netgroup/check";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (host != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("host", host));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNfsNetgroupCheckItemValidateBeforeCall(Empty nfsNetgroupCheckItem, String host, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nfsNetgroupCheckItem' is set
        if (nfsNetgroupCheckItem == null) {
            throw new ApiException("Missing the required parameter 'nfsNetgroupCheckItem' when calling createNfsNetgroupCheckItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createNfsNetgroupCheckItemCall(nfsNetgroupCheckItem, host, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Update the NFS netgroups in the cache.
     * @param nfsNetgroupCheckItem  (required)
     * @param host IP address of node to update. If unspecified, the local nodes cache is updated. (optional)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createNfsNetgroupCheckItem(Empty nfsNetgroupCheckItem, String host) throws ApiException {
        ApiResponse<Empty> resp = createNfsNetgroupCheckItemWithHttpInfo(nfsNetgroupCheckItem, host);
        return resp.getData();
    }

    /**
     * 
     * Update the NFS netgroups in the cache.
     * @param nfsNetgroupCheckItem  (required)
     * @param host IP address of node to update. If unspecified, the local nodes cache is updated. (optional)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createNfsNetgroupCheckItemWithHttpInfo(Empty nfsNetgroupCheckItem, String host) throws ApiException {
        com.squareup.okhttp.Call call = createNfsNetgroupCheckItemValidateBeforeCall(nfsNetgroupCheckItem, host, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Update the NFS netgroups in the cache.
     * @param nfsNetgroupCheckItem  (required)
     * @param host IP address of node to update. If unspecified, the local nodes cache is updated. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNfsNetgroupCheckItemAsync(Empty nfsNetgroupCheckItem, String host, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNfsNetgroupCheckItemValidateBeforeCall(nfsNetgroupCheckItem, host, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNfsNetgroupFlushItem
     * @param nfsNetgroupFlushItem  (required)
     * @param host IP address of node to flush. If unspecified, all nodes on the cluster are flushed. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNfsNetgroupFlushItemCall(Empty nfsNetgroupFlushItem, String host, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = nfsNetgroupFlushItem;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/nfs/netgroup/flush";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (host != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("host", host));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNfsNetgroupFlushItemValidateBeforeCall(Empty nfsNetgroupFlushItem, String host, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nfsNetgroupFlushItem' is set
        if (nfsNetgroupFlushItem == null) {
            throw new ApiException("Missing the required parameter 'nfsNetgroupFlushItem' when calling createNfsNetgroupFlushItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createNfsNetgroupFlushItemCall(nfsNetgroupFlushItem, host, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Flush the NFS netgroups in the cache.
     * @param nfsNetgroupFlushItem  (required)
     * @param host IP address of node to flush. If unspecified, all nodes on the cluster are flushed. (optional)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createNfsNetgroupFlushItem(Empty nfsNetgroupFlushItem, String host) throws ApiException {
        ApiResponse<Empty> resp = createNfsNetgroupFlushItemWithHttpInfo(nfsNetgroupFlushItem, host);
        return resp.getData();
    }

    /**
     * 
     * Flush the NFS netgroups in the cache.
     * @param nfsNetgroupFlushItem  (required)
     * @param host IP address of node to flush. If unspecified, all nodes on the cluster are flushed. (optional)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createNfsNetgroupFlushItemWithHttpInfo(Empty nfsNetgroupFlushItem, String host) throws ApiException {
        com.squareup.okhttp.Call call = createNfsNetgroupFlushItemValidateBeforeCall(nfsNetgroupFlushItem, host, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Flush the NFS netgroups in the cache.
     * @param nfsNetgroupFlushItem  (required)
     * @param host IP address of node to flush. If unspecified, all nodes on the cluster are flushed. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNfsNetgroupFlushItemAsync(Empty nfsNetgroupFlushItem, String host, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNfsNetgroupFlushItemValidateBeforeCall(nfsNetgroupFlushItem, host, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNfsNlmSessionsCheckItem
     * @param nfsNlmSessionsCheckItem  (required)
     * @param clusterIp An IP address for which NSM has client records (optional)
     * @param zone Represents an extant auth zone (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNfsNlmSessionsCheckItemCall(Empty nfsNlmSessionsCheckItem, String clusterIp, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = nfsNlmSessionsCheckItem;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/nfs/nlm/sessions-check";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (clusterIp != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cluster_ip", clusterIp));
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNfsNlmSessionsCheckItemValidateBeforeCall(Empty nfsNlmSessionsCheckItem, String clusterIp, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nfsNlmSessionsCheckItem' is set
        if (nfsNlmSessionsCheckItem == null) {
            throw new ApiException("Missing the required parameter 'nfsNlmSessionsCheckItem' when calling createNfsNlmSessionsCheckItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createNfsNlmSessionsCheckItemCall(nfsNlmSessionsCheckItem, clusterIp, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Perform an active scan for lost NFSv3 locks.
     * @param nfsNlmSessionsCheckItem  (required)
     * @param clusterIp An IP address for which NSM has client records (optional)
     * @param zone Represents an extant auth zone (optional)
     * @return CreateNfsNlmSessionsCheckItemResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateNfsNlmSessionsCheckItemResponse createNfsNlmSessionsCheckItem(Empty nfsNlmSessionsCheckItem, String clusterIp, String zone) throws ApiException {
        ApiResponse<CreateNfsNlmSessionsCheckItemResponse> resp = createNfsNlmSessionsCheckItemWithHttpInfo(nfsNlmSessionsCheckItem, clusterIp, zone);
        return resp.getData();
    }

    /**
     * 
     * Perform an active scan for lost NFSv3 locks.
     * @param nfsNlmSessionsCheckItem  (required)
     * @param clusterIp An IP address for which NSM has client records (optional)
     * @param zone Represents an extant auth zone (optional)
     * @return ApiResponse&lt;CreateNfsNlmSessionsCheckItemResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateNfsNlmSessionsCheckItemResponse> createNfsNlmSessionsCheckItemWithHttpInfo(Empty nfsNlmSessionsCheckItem, String clusterIp, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createNfsNlmSessionsCheckItemValidateBeforeCall(nfsNlmSessionsCheckItem, clusterIp, zone, null, null);
        Type localVarReturnType = new TypeToken<CreateNfsNlmSessionsCheckItemResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Perform an active scan for lost NFSv3 locks.
     * @param nfsNlmSessionsCheckItem  (required)
     * @param clusterIp An IP address for which NSM has client records (optional)
     * @param zone Represents an extant auth zone (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNfsNlmSessionsCheckItemAsync(Empty nfsNlmSessionsCheckItem, String clusterIp, String zone, final ApiCallback<CreateNfsNlmSessionsCheckItemResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNfsNlmSessionsCheckItemValidateBeforeCall(nfsNlmSessionsCheckItem, clusterIp, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateNfsNlmSessionsCheckItemResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNfsReloadItem
     * @param nfsReloadItem  (required)
     * @param zone Access zone (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNfsReloadItemCall(Empty nfsReloadItem, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = nfsReloadItem;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/nfs/reload";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNfsReloadItemValidateBeforeCall(Empty nfsReloadItem, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'nfsReloadItem' is set
        if (nfsReloadItem == null) {
            throw new ApiException("Missing the required parameter 'nfsReloadItem' when calling createNfsReloadItem(Async)");
        }
        

        com.squareup.okhttp.Call call = createNfsReloadItemCall(nfsReloadItem, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Reload default NFS export configuration.
     * @param nfsReloadItem  (required)
     * @param zone Access zone (optional)
     * @return Empty
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Empty createNfsReloadItem(Empty nfsReloadItem, String zone) throws ApiException {
        ApiResponse<Empty> resp = createNfsReloadItemWithHttpInfo(nfsReloadItem, zone);
        return resp.getData();
    }

    /**
     * 
     * Reload default NFS export configuration.
     * @param nfsReloadItem  (required)
     * @param zone Access zone (optional)
     * @return ApiResponse&lt;Empty&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Empty> createNfsReloadItemWithHttpInfo(Empty nfsReloadItem, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createNfsReloadItemValidateBeforeCall(nfsReloadItem, zone, null, null);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Reload default NFS export configuration.
     * @param nfsReloadItem  (required)
     * @param zone Access zone (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNfsReloadItemAsync(Empty nfsReloadItem, String zone, final ApiCallback<Empty> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNfsReloadItemValidateBeforeCall(nfsReloadItem, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Empty>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createNtpServer
     * @param ntpServer  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createNtpServerCall(NtpServerCreateParams ntpServer, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = ntpServer;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/ntp/servers";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createNtpServerValidateBeforeCall(NtpServerCreateParams ntpServer, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'ntpServer' is set
        if (ntpServer == null) {
            throw new ApiException("Missing the required parameter 'ntpServer' when calling createNtpServer(Async)");
        }
        

        com.squareup.okhttp.Call call = createNtpServerCall(ntpServer, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create an NTP server entry.
     * @param ntpServer  (required)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createNtpServer(NtpServerCreateParams ntpServer) throws ApiException {
        ApiResponse<CreateResponse> resp = createNtpServerWithHttpInfo(ntpServer);
        return resp.getData();
    }

    /**
     * 
     * Create an NTP server entry.
     * @param ntpServer  (required)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createNtpServerWithHttpInfo(NtpServerCreateParams ntpServer) throws ApiException {
        com.squareup.okhttp.Call call = createNtpServerValidateBeforeCall(ntpServer, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create an NTP server entry.
     * @param ntpServer  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createNtpServerAsync(NtpServerCreateParams ntpServer, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createNtpServerValidateBeforeCall(ntpServer, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSmbLogLevelFilter
     * @param smbLogLevelFilter  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSmbLogLevelFilterCall(SmbLogLevelFilter smbLogLevelFilter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = smbLogLevelFilter;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/smb/log-level/filters";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createSmbLogLevelFilterValidateBeforeCall(SmbLogLevelFilter smbLogLevelFilter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'smbLogLevelFilter' is set
        if (smbLogLevelFilter == null) {
            throw new ApiException("Missing the required parameter 'smbLogLevelFilter' when calling createSmbLogLevelFilter(Async)");
        }
        

        com.squareup.okhttp.Call call = createSmbLogLevelFilterCall(smbLogLevelFilter, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Add an SMB log filter.
     * @param smbLogLevelFilter  (required)
     * @return CreateAuthRefreshItemResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateAuthRefreshItemResponse createSmbLogLevelFilter(SmbLogLevelFilter smbLogLevelFilter) throws ApiException {
        ApiResponse<CreateAuthRefreshItemResponse> resp = createSmbLogLevelFilterWithHttpInfo(smbLogLevelFilter);
        return resp.getData();
    }

    /**
     * 
     * Add an SMB log filter.
     * @param smbLogLevelFilter  (required)
     * @return ApiResponse&lt;CreateAuthRefreshItemResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateAuthRefreshItemResponse> createSmbLogLevelFilterWithHttpInfo(SmbLogLevelFilter smbLogLevelFilter) throws ApiException {
        com.squareup.okhttp.Call call = createSmbLogLevelFilterValidateBeforeCall(smbLogLevelFilter, null, null);
        Type localVarReturnType = new TypeToken<CreateAuthRefreshItemResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Add an SMB log filter.
     * @param smbLogLevelFilter  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createSmbLogLevelFilterAsync(SmbLogLevelFilter smbLogLevelFilter, final ApiCallback<CreateAuthRefreshItemResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createSmbLogLevelFilterValidateBeforeCall(smbLogLevelFilter, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateAuthRefreshItemResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSmbShare
     * @param smbShare  (required)
     * @param zone Zone which contains this share. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSmbShareCall(SmbShareCreateParams smbShare, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = smbShare;

        // create path and map variables
        String localVarPath = "/platform/4/protocols/smb/shares";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createSmbShareValidateBeforeCall(SmbShareCreateParams smbShare, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'smbShare' is set
        if (smbShare == null) {
            throw new ApiException("Missing the required parameter 'smbShare' when calling createSmbShare(Async)");
        }
        

        com.squareup.okhttp.Call call = createSmbShareCall(smbShare, zone, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * Create a new share.
     * @param smbShare  (required)
     * @param zone Zone which contains this share. (optional)
     * @return CreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateResponse createSmbShare(SmbShareCreateParams smbShare, String zone) throws ApiException {
        ApiResponse<CreateResponse> resp = createSmbShareWithHttpInfo(smbShare, zone);
        return resp.getData();
    }

    /**
     * 
     * Create a new share.
     * @param smbShare  (required)
     * @param zone Zone which contains this share. (optional)
     * @return ApiResponse&lt;CreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateResponse> createSmbShareWithHttpInfo(SmbShareCreateParams smbShare, String zone) throws ApiException {
        com.squareup.okhttp.Call call = createSmbShareValidateBeforeCall(smbShare, zone, null, null);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Create a new share.
     * @param smbShare  (required)
     * @param zone Zone which contains this share. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createSmbShareAsync(SmbShareCreateParams smbShare, String zone, final ApiCallback<CreateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createSmbShareValidateBeforeCall(smbShare, zone, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSwiftAccount
     * @param swiftAccount  (required)
     * @param zone Access zone which contains Swift account. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSwiftAccountCall(SwiftAccount swiftAccount, String zone, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = swiftAccount;

        // create path and map variables
        String localVarPath = "/platform/3/protocols/swift/accounts";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (zone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("zone", zone));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
[...]
